<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SERVERTYPE" value="FbServerType.Embedded" />
    <add key="USERID" value="SYSDBA" />
    <add key="PASSWORD" value="masterkey" />
    <add key="DIALECT" value="3" />
    <add key="DATABASE" value="D:\INGLES.FDB" />
    <add key="CHARSET" value="UTF8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>